@use "global" as *;

.subpage-voice-contents-cards {
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(333px, 1fr));
  justify-items: center;
  gap: rem(36);

  @include mq("md") {
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(40);
    row-gap: rem(80);
  }
}

.subpage-voice-contents-cards__item {
  max-width: rem(600);
  height: 100%;

  @include mq("md") {
    max-width: calc(($inner - 3rem) / 2);
  }
}