@use "global" as *;

.information {
    margin-top: rem(76);    
    background-color: $aqua;
    padding: rem(80) 0;
    
    @include mq("md") {
        margin-top: rem(140);
        padding-top: rem(100);
        padding-bottom: rem(100);
    }

}
