@use "global" as *;

.about-header {
    position: relative;
    margin-top: rem(52);

    @include mq("md") {
        margin-top: rem(230);
    }
}

.about-header__inner {
    position: relative;
}

.about-header__inner::after {
    display: block;
    content: "";
    position: absolute;
    top: rem(-24);
    left: calc(50% - min(45vw, rem(624)));
    width: rem(120);
    height: rem(55);
    background-image: url("../images/fish-R.svg");
    background-size: cover;

    @include mq("md") {
        top: rem(-152);
        left: calc(50% - min(48vw, rem(624)));
        width: rem(301);
        height: rem(138);
    }
}

.about-header__images {
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.about-header__image-left {
    display: none;
    position: absolute;
    z-index: 20;

    @include mq("md") {
        display: block;
        aspect-ratio: 128 / 194;
        width: vw(375, 128);
        left: 0;
        max-width: rem(400);
        top: rem(-80);
    }
}

.about-header__image-right {
    aspect-ratio: 281 / 186;
    // width: vw(375, 281);
    z-index: 10;
    position: relative;

    @include mq("md") {
        max-width: rem(880);
    }
}

.about-header__image-left img,
.about-header__image-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.about-header__body {
    margin-top: rem(40);

    @include mq("md") {
        position: absolute;
        top: rem(120);
        right: rem(16);
        // transform: translateY(-50%);
        z-index: 100;
        display: flex;
        max-width: rem(880);
        margin-top: 0;
        // overflow: hidden;
    }
}

.about-header__body-title {
    color: $white;
    font-family: $english-font-family;
    font-size: rem(40);
    line-height: 1.0;
    position: absolute;
    top: rem(20);
    left: rem(40);
    z-index: 10;

    @include mq("md") {
        position: static;
        font-size: rem(80);
        line-height: 1.25;
    }
}

.about-header__body-title,
.about-header__body-contents {
    @include mq("md") {
        width: 50%;
    }
}

.about-header__body-contents {
    @include mq("md") {
        margin-right: rem(40);
        margin-left: rem(40);
        margin-top: rem(24);
    }
}


.about-header__body-title span {
    text-transform: uppercase;
}

.about-header__body-text {
    line-height: 1.5;
    font-weight: $regular;
    margin-top: rem(16);

    @include mq("md") {
        color: $white;
        margin-top: 0;
    }
}

