@use "global" as *;

.campaign {
    @include mq("md") {
        overflow: hidden;
    }
}

.campaign__inner {
    position: relative;
}

.campaign .swiper {
    // overflow: visible;
    position: relative;
    // width: 100vw;
    // padding-right: 10vw;
    margin-right: calc(50% - 50vw);
}

.campaign__cards {
    margin-top: rem(28);
    padding-bottom: rem(10);

    @include mq("md") {
        margin-top: rem(40);
        // overflow: visible;
        // width: 100%;
        // padding-right: calc(50% - 50vw);
    }
}


.campaign .swiper-wrapper {
    transition-timing-function: linear;
    // overflow: hidden;
    // padding-right: calc(50% - 50vw);
    // @include mq("md") {
    //     left: vw(25);
    // }
}

// .campaign__slide .swiper-slide {
//     width: vw(375, 280);
//     max-width: rem(600);
//     // height: auto; // Swiperのバグを防ぐため
//     min-height: rem(366);
//     display: flex; // これを追加

//     @include mq("md") {
//         // max-width: rem(333);
//         max-width: calc(($inner - 5rem) / 3);
//         // width: 100%;
//         min-height: rem(445);
//         // height: 100%;
//         // aspect-ratio: 334 / 445;
//         width: calc(50% - rem(24));

//     }
// }

.campaign__slide {
    width: vw(375, 280);
    max-width: rem(600);
    // height: auto; // Swiperのバグを防ぐため
    min-height: rem(366);
    display: flex; // これを追加

    @include mq("md") {
        // max-width: rem(333);
        max-width: calc(($inner - 5rem) / 3);
        // width: 100%;
        min-height: rem(445);
        // height: 100%;
        // aspect-ratio: 334 / 445;
        width: calc(50% - rem(24));

    }
}


.campaign__button {
    margin-top: rem(30);
    // margin-bottom: rem(5);
    text-align: center;

    @include mq("md") {
        margin-top: rem(67);
    }
}

.campaign__inner {
    position: relative;
}

.campaign .swiper-button-prev::after,
.campaign .swiper-button-next::after {
    display: none; // デフォルトのアイコンを非表示
}

.campaign .swiper-button-prev,
.campaign .swiper-button-next {
    display: none;

    @include mq("md") {
        position: absolute;
        top: rem(24);
        height: rem(80);
        width: rem(80);
        cursor: pointer;
        display: block;
    }
}

.campaign .swiper-button-prev {
    left: unset;
    right: rem(190);
}

.campaign .swiper-button-next {
    right: rem(20);
}

.campaign .swiper-button-prev::after {
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    background: url("../images/swiper-prev.png") no-repeat center / contain;
}

.campaign .swiper-button-next::after {
    display: block;
    content: '';
    height: 100%;
    width: 100%;
    background: url("../images/swiper-next.png") no-repeat center / contain;
}