@use "global" as *;

.contact-header {
    text-align: center;
}

.contact-header__title {
    font-family: $english-font-family;
    font-weight: $regular;
    font-size: 5rem;
    line-height: 1.25;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(13, 41, 54, 0.5);
}

.contact-header::first-letter {
    color: $green;
    text-transform: uppercase;
}

.contact-header__subtitle {
    color: $green;
    font-weight: $regular;
    font-size: rem(12);
    line-height: 1.5;
    margin-top: rem(-16);
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(13, 41, 54, 0.5);

    @include mq("md") {
        margin-top: rem(-16);
    }
}

@include mq("md") {
    .contact-header__title,
    .contact-header__subtitle {
        text-shadow: none;
    }
}