@use "global" as *;

.footer__head {
    @include mq("md") {
        display: flex;
        align-items: flex-end;
    }
}

.footer__logo {
    width: rem(120);
    height: rem(45);

    @include mq("md") {
        width: rem(200);
        height: auto;
    }
}

.footer__nav {
    padding-top: rem(44);
    color: $white;

    @include mq("md") {
        padding-top: rem(20);
    }
}

.footer__sns {
    margin-top: rem(20);

    @include mq("md") {
        margin-bottom: rem(10);
    }
}

.footer__copyright {
    display: inline-block;
    font-family: $english-font-family;
    font-weight: $regular;
    font-size: rem(12);
    line-height: 1.5;
    text-align: center;
    margin-top: 2.5rem;
    width: 100%;
    letter-spacing: rem(-0.1);

    @include mq("md") {
        font-size: rem(14);
        margin-top: rem(80);
        line-height: 1.29;
    }
}

.footer--thanks {
    margin-top: rem(168);
    @include mq("md") {
      margin-top: rem(128);
    }
  }