@use "global" as *;


.gallery-modal {
    display: none;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery-modal.is-open {
    display: block;
    opacity: 1;
}

.gallery-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}


// @include mq("md") {
//     .gallery-modal.is-open {
//         display: block;
//         opacity: 1;
//     }
// }

// .gallery-modal__overlay {
//     display: none;

//     @include mq("md") {
//         position: fixed;
//         top: 0;
//         left: 0;
//         right: 0;
//         bottom: 0;
//         background: rgba(0, 0, 0, 0.6);
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         z-index: 10000;
//     }
// }

.gallery-modal__container {
    position: relative;
    max-width: rem(920);
    max-height: 95vh;
    margin: 0 auto;
    padding: 0 rem(20);
    background-color: transparent;
    overflow: hidden;
}


.gallery-modal__header {
    position: absolute;
    top: rem(-40);
    right: 0;
    z-index: 1001;
}

.gallery-modal__close {
    background: transparent;
    border: 0;
    cursor: pointer;
    width: rem(40);
    height: rem(40);
    position: relative;
}

.gallery-modal__close::before,
.gallery-modal__close::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: rem(30);
    height: rem(2);
    background-color: $white;
}

.gallery-modal__close::before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.gallery-modal__close::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.gallery-modal__content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: rem(40) 0;
    box-sizing: border-box;
}

.gallery__image-lg {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
}

body.is-modal-open {
    overflow: hidden;
}


/* animation */
.micromodal-slide[aria-hidden="false"] .gallery-modal__overlay {
    animation: mmfadeIn 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

.micromodal-slide[aria-hidden="true"] .gallery-modal__overlay {
    animation: mmfadeOut 0.8s cubic-bezier(0.34, 0.07, 0.095, 0.995);
}

@keyframes mmfadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes mmfadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}