@use "global" as *;

.gallery__button {
    width: auto;
    padding: 0;
    margin: 0;
    background: none;
    border: 0;
    font-size: 0;
    line-height: 0;
    overflow: visible;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

@media (any-hover: hover) {
    .gallery__button:hover {
        opacity: 0.8;
    }
}

.gallery-modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: rem(32);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.7);
    /* 必要に応じて */
    z-index: 1000;
}

.gallery-modal__container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    box-shadow: none;
    overflow: hidden;
    padding: 0;
}

.gallery__image-lg {
    // max-width: 100vw;
    // max-height: 100vh;
    width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
}

.gallery__items {
    display: flex;
    flex-direction: column;
    /* 画像間の余白 */
    gap: rem(8);
    // margin-top: rem(40);

    @include mq("md") {
        /* 以下gridレイアウト用 */
        display: grid;
        /* 隙間を埋めながら配置 */
        grid-auto-flow: dense;
        /* カラム数を設定 */
        grid-auto-rows: 1fr;
        grid-template-columns: repeat(11, 1fr);
    }
}

/* アスペクト比設定 */
.gallery__item {

    @include mq("md") {
        grid-column: span 6;
        grid-row: span 1;
    }
}

.gallery__item:nth-child(6n +1),
.gallery__item:nth-child(6n +6) {

    @include mq("md") {
        grid-column: span 5;
        grid-row: span 2;
    }
}

.gallery__item img {
    display: block;
    aspect-ratio: 345/219;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mq("md") {
        aspect-ratio: 580/369;
    }
}

.gallery__item:nth-child(6n +1) img,
.gallery__item:nth-child(6n +6) img {
    display: block;
    aspect-ratio: 345/523;
    width: 100%;
    height: 100%;
    object-fit: cover;

    @include mq("md") {
        aspect-ratio: 492/746;
    }
}