@use "global" as *;

.gloval-nav__content {
    width: 100%;
}

.global-nav__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: rem(36) rem(16);
    justify-items: center;
    grid-template-areas:
        "a b"
        "c d";

    @include mq("md") {
        display: flex;
        gap: rem(20);
    }
}

.global-nav__item1 {
    grid-area: a;
}

.global-nav__item2 {
    grid-area: c;
}

.global-nav__item3 {
    grid-area: b;
}

.global-nav__item4 {
    grid-area: d;
}

.global-nav__heading {
    display: flex;
    font-size: rem(16);
    font-weight: $bold;
    line-height: rem(16);
    position: relative;

    @include mq("md") {
        line-height: 1.125;
    }
}

.global-nav__heading:not(:first-child) {
    @include mq(md) {
        margin-top: rem(40);
    }
}

.global-nav__icon {
    // aspect-ratio: 1 / 1;
    width: rem(19);
    height: rem(19);
    flex-shrink: 0;
    // position: relative;
}

@media (any-hover: hover){
    .global-nav__heading:hover::before {
        content: '';
        /*絶対配置で波形の位置を決める*/
        position: absolute;
        left: 0;
        top: 0;
        /*波形の形状*/
        border: 1.5px solid $white;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        /*はじめは不透明*/
        opacity: 1;
        /*アニメーションの設定*/
        animation: 1s circleanime2 forwards;
    }    
}


/*波形が広がるアニメーション*/
@keyframes circleanime2 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.global-nav__column {
    @include mq("md") {
        width: 25%;
        // &:nth-child(n) { order: initial; }
    }
}

.global-nav__title {
    font-weight: $bold;
    line-height: 1.1;
    position: relative;

    @include mq("md") {
        line-height: 1.125;
    }
}

.global-nav__link {
    display: inline-block;
    padding-left: rem(20);
    font-size: rem(16);
    font-weight: $regular;
    line-height: 1.3;
    margin-top: rem(20);
    transition: opacity 0.3s;
    position: relative;
    cursor: pointer;
}

@media (any-hover: hover) {
    .global-nav__link::after {
        position: absolute;
        left: rem(16);
        bottom: rem(-8);
        content: '';
        width: 90%;
        height: 0.125rem;
        background: $white;
        transform: scale(0, 1);
        /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
        transform-origin: center top;
        /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
        transition: transform 0.3s;
    }
   
    .global-nav__link:hover::after,
    .global-nav__title:hover::after {
        transform: scale(1, 1);
    }
}

.global-nav__block:not(:first-child) {
    margin-top: rem(40);
}

.global-nav--sbpage-sitemap{
    color: $black;
}