@use "global" as *;

// header nav
.header {
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;
    height: 5rem;
    width: 100%;
    background-color: rgba(13, 41, 54, 0.68);

    @include mq("md") {
        height: 5.625rem;
    }
}

.header__inner {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.94rem;
    padding-right: 0.94rem;

    @include mq("md") {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

.header__logo {
    margin: 0;
    z-index: 6000;
}

.header__logo-link {
    display: block;
    height: auto;
    transition: opacity 0.3s;
    width: rem(102);

    @include mq("md") {
        width: rem(138);
        height: auto;
    }
}

@media (any-hover: hover) {
    .header__logo-link:hover {
        opacity: 0.7;
    }
}

@include mq(md) {

    .header__nav {
        height: inherit;
    }

    .header__items {
        display: flex;
        align-items: center;
        height: inherit;
        // padding-left: 10px;
        gap: rem(40);
    }

    .header__item {
        height: inherit;
    }

    // .header__item + .header__item {
    //     padding-left: 2.5rem;
    // }

    .header__link {
        align-items: center;
        justify-content: center;
        height: inherit;
        color: $white;
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .header__link::after {
        position: absolute;
        left: 0;
        content: '';
        width: 100%;
        height: 0.125rem;
        background: $white;
        bottom: 1rem;
        /*アンダーラインがaタグの下端から現れる*/
        transform: scale(0, 1);
        /*アンダーラインの縮尺比率。ホバー前はx方向に0*/
        transform-origin: center top;
        /*変形（アンダーラインの伸長）の原点がaタグ（各メニュー）の左端*/
        transition: transform 0.3s;
    }

    @media (any-hover: hover){
    .header__link:hover::after {
        transform: scale(1, 1);
    }
}

    .header__link span:first-child {
        font-family: $english-font-family;
        font-size: 1.125rem;
        font-weight: $regular;
    }

    .header__link span:nth-child(2) {
        font-size: 0.625rem;
        font-weight: $regular;
        line-height: 1.5rem;
    }
}