@use "global" as *;

.information-contents__wrapper {
    margin-top: rem(120);
    @include mq("md") {
        margin-top: rem(144);
    }
}

.information-contents__inner{
    position: relative;
}

.information-contents__inner::after {
    display: block;
    content: "";
    position: absolute;
    top: rem(-92);
    left: calc(50% - min(45vw, rem(624)));
    width: rem(120);
    height: rem(55);
    background-image: url("../images/fish-R.svg");
    background-size: cover;
    z-index: -1;

    @include mq("md") {
        top: rem(-72);
        left: calc(50% - min(48vw, rem(624)));
        width: rem(301);
        height: rem(138);
    }
}

.information-contents__tab-box {
    margin: 0 auto;
    max-width: rem(700);
    @include mq("md") {
        max-width: 100%;
    }
}