@use "global" as *;

.price-body {
    margin-top: rem(52);

    @include mq("md") {
        margin-top: rem(150);
    }
}

.price-body .price-body__inner {
    position: relative;
    max-width: rem(750);
}

.price-body__inner::after {
    display: block;
    content: "";
    position: absolute;
    top: rem(-24);
    left: calc(50% - min(45vw, rem(624)));
    width: rem(120);
    height: rem(55);
    background-image: url("../images/fish-R.svg");
    background-size: cover;

    @include mq("md") {
        top: rem(-72);
        left: calc(50% - min(48vw, rem(624)));
        width: rem(301);
        height: rem(138);
    }
}

.price-body__table-item:not(:first-child){
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(80);
    }
  }