@use "global" as *;


.shop-info__container {
    position: relative;
    z-index: 1;
    width: 100%;
    // margin-top: rem(54);

    @include mq("md") {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-top: rem(75);
        padding-bottom: rem(80);
        box-shadow: rem(4) rem(4) rem(10) rgba(0, 0, 0, 0.25);
    }
}

// .shop-info__container::after {
//     @include mq("md") {
//         display: block;
//         content: "";
//         width: rem(1);
//         height: 65%;
//         background-color: $green;
//         position: absolute;
//         top: 50%;
//         left: 50%;
//         transform: translateY(-50%);
//     }
// }

.shop-info__body {
    // margin-top: rem(54);

    @include mq("md") {
        // margin-top: rem(75);
        width: 45%;
    }
}

.shop-info__header {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.shop-info__header::after {
    display: block;
    content: "";
    border-bottom: solid 0.025rem $green;
    width: 85%;
    position: absolute;
    bottom: rem(-8);
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0.25rem 0.25rem rgba(13, 41, 54, 0.5);

    @include mq("md") {
        bottom: rem(-8);
        box-shadow: none;
    }
}

.shop-info__logo {
    width: rem(174);
    height: rem(65);
    filter: drop-shadow(0px 3px 4px rgba(13, 41, 54, 0.5));

    @include mq("md") {
        width: rem(200);
        height: rem(75);
        filter: none;
    }
}

.shop-info__inner {
    position: relative;
}

.shop-info__inner::before {
    max-width: rem(301);
    width: vw(375, 109);
    // width: 100%;
    height: auto;
    aspect-ratio: 109 / 50;
    display: block;
    content: "";
    position: absolute;
    top: 0;
    right: rem(16);
    transform: translateY(-50%);
    z-index: -1;
    background-image: url("../images/fish-L-green.svg");
    background-repeat: no-repeat;
    background-size: cover;

    @include mq("md") {
        width: rem(301);
        height: rem(138);
        top: rem(28);
        right: calc(rem(-100) + (rem(1440) - 100vw) / 3);
    }
}

.shop-info__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: rem(23);
    font-size: rem(16);
    line-height: 1.5;
    font-weight: $regular;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(13, 41, 54, 0.5);

    @include mq("md") {
        text-shadow: none;
        align-items: flex-start;
    }
}

.shop-info__text span:not(:first-child) {
    margin-top: 0.25rem;
}

.shop-info__map {
    aspect-ratio: 295 / 160;
    width: vw(375, 295);
    margin-top: 1rem;
    box-shadow: rem(5) rem(5) rem(5) rgba(13, 41, 54, 0.5);

    @include mq("md") {
        aspect-ratio: 273 / 148;
        width: vw(1440, 273);
        max-width: rem(273);
        box-shadow: none;
        border: rem(1) solid $green;
    }
}

.shop-info__iframe {
    width: 100%;
    height: 100%;
    display: block;
}

// .shop-info__contact::before {
//     @include mq("md") {
//         display: block;
//         content: "";
//         width: 0.0625rem;
//         height: 100%;
//         background-color: $green;
//         position: absolute;
//         top: 0;
//         left: 0;
//     }
// }

.shop-info__contact {
    margin-top: rem(32);
    text-align: center;
    position: relative;

    @include mq("md") {
        margin-top: 0;
        padding: rem(20) 0;
        width: 45%;
    }
}

.shop-info__contact::before {
    @include mq("md") {
        display: block;
        content: "";
        background-color: #408F95;
        height: 100%;
        left: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: rem(1);
    }
}

.shop-info__contact-text {
    margin-top: rem(8);
    font-size: rem(14);
    color: $green;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(13, 41, 54, 0.5);

    @include mq("md") {
        text-shadow: none;
        line-height: 1.3;
        // margin-top: 0;
    }
}

.shop-info__button {
    margin-top: rem(36);
    // margin-bottom: rem(4);
    width: 100%;
    text-align: center;

    @include mq("md") {
        margin-top: rem(40);
    }
}

.shop-info__address {
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;

    @include mq("md") {
        margin-top: rem(16);
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
}