@use "global" as *;



/* 投稿記事タイトル部
--------------------------*/
.single-article__header {
    border-bottom: solid rem(1) $green;
    padding-bottom: rem(8);

    // @include mq("md") {
    //     border-bottom: solid rem(1) $green;
    //     padding-bottom: rem(8);
    // }
}

.single-article__header-time {
    @include mq("md") {
        font-size: rem(14);
        font-family: $english-font-family;
        line-height: 1.2857;
    }
}

.single-article__header-title {
    @include mq("md") {
        font-size: rem(32);
        font-weight: $medium;
        line-height: 1.1875;
    }
}

/*
-----------------------*/
// .single-article__body {
//     margin-top: rem(24);

//     @include mq("md") {
//         margin-top: rem(40);
//     }
// }

.single-article__body p {
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(40);
        line-height: 1.5;
        font-size: rem(16);
    }
}

.single-article__body picture {
    display: block;
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(40);
    }
}

.single-article__body ul {
    margin-top: rem(24);

    @include mq("md") {
        margin-top: rem(40);
    }
}

.single-article__body li {
    list-style-image: url('../images/article-hitode-icon.svg');
    list-style-position: inside;
    margin-left: rem(24);
    text-indent: rem(-24);
}


.single-article__pagination {
    margin-top: rem(40);
    @include mq("md") {
        margin-top: rem(80);
    }
}

.single-article__pagination .nav-pagination__item:last-child {
    margin-left: rem(82);
}

.single-article__pagination-inner {
    display: flex;
    justify-content: center;
}