@use "global" as *;



.voice__body {
    margin-top: rem(40);

    @include mq("md") {
        margin-top: rem(32);
    }
}

.voice__button {
    position: relative;
    z-index: 50;
    text-align: center;
    margin-top: rem(40);
    // margin-bottom: rem(5);

    @include mq("md") {
        margin-top: rem(80);
    }
}

.voice__inner {
    position: relative;
  }
  
  .voice__inner::after {
    @include mq("md") {
        display: block;
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(-40%, 45%);
        width: rem(71);
        height: rem(162);
        background-image: url("../images/tatsu.svg");
        background-size: cover;
    }
  }