@use "global" as *;

.voice-cards {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(344px, 1fr));
    justify-items: center;
    gap: rem(36);
}

.voice-cards--subpage-voice {
    row-gap: rem(44);

    @include mq("md") {
        column-gap: rem(36);
        row-gap: rem(80);
    }
}

.voice-cards__item {
    max-width: rem(600);
    height: 100%;
    width: 100%;

    // @include mq("md") {
    //     max-width: calc( ($inner - 5rem) / 2);
    // }
}